@font-face {
  font-family: HankenGrotesk;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* Variables here */
:root {
   --reaction: 0, 90%, 50%;
   --memory: 39, 100%, 56%;
   --verbal: 166, 100%, 37%;
   --visual: 234, 85%, 45%;

   --result-background: linear-gradient(hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
   --circle-background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

   --White: 0, 0%, 100%;
   --Pale-blue: 221, 100%, 96%;
   --Light-lavender: 241, 100%, 89%;
   --Dark-gray-blue: 224, 30%, 27%;

   --paragraph-size: 18px;
   --font: "HankenGrotesk";
   --weight500: 500;
   --weight700: 700;
   --weight800:800;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
    font-family: var(--font);
    font-size: var(--paragraph-size);
    font-weight: var(--weight700);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.results-summary {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 10px solid blue;
    border-radius: 1rem;
    background: hsl(var(--White));
}

section.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--result-background);
}

section.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background:  hsl(var(--White));
  box-shadow: 0.3rem 0.3rem 0.8rem hsla(var(--Light-lavender),0.4);
  padding: 2rem;
}

.results-summary section {
  
}
.results-summary h1 {
  font-size: 1.3rem;
}

section.results h1 {
  color: hsla(var(--Light-lavender), 0.8);
}

.results .score{
  width: 10rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--circle-background);
  color: hsla(var(--Light-lavender), 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results .score span {
  color: hsla(var(--White), 1);
  font-size: 4rem;
  font-weight: var(--weight800);
  display: block;
  
}

.results .great {
  font-size: 1.5rem;
  color: hsla(var(--White), 1);
}

.results .text {
  color: hsla(var(--Light-lavender), 0.8);
  
}

.summary .categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.category {
  display: grid;
  grid-template-columns: 0.2fr 2fr 2fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.reaction {
  background: hsla(var(--reaction), 0.1);
  color: hsla(var(--reaction), 0.6);
}

.memory {
  background: hsla(var(--memory), 0.1);
  color: hsla(var(--memory), 0.6);
}

.verbal {
  background: hsla(var(--verbal), 0.1);
  color: hsla(var(--verbal), 0.6);
}

.visual {
  background: hsla(var(--visual), 0.1);
  color: hsla(var(--visual), 0.6);
}

.category p {
  color: hsla(var(--Dark-gray-blue), 0.5);
  padding-left: 2rem;
}

.category p span {
  color: hsla(var(--Dark-gray-blue), 1);
}

.summary button {
  border-radius: 1.5rem;
  padding: 1rem 0;
  background: hsl(var(--Dark-gray-blue));
  color: hsl(var(--White));
  cursor: pointer;
}

.summary button:hover {
  background: var(--result-background);
}
@media screen and (max-width: 600px){
  :root {
    font-size: calc(max-width / 40);
  }
  .results-summary {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
  }

  .results-summary section {
    min-width: 100%;
    min-height: 100%;
  }
}
